croniter==0.3.12
cronos==0.0.4
numpy==1.16.1
oauthlib==2.0.1
pathlib==1.0.1
pyasn1==0.1.9
PyAudio==0.2.11
pycrypto==2.6.1
pygobject==3.22.0
pyserial==3.2.1
python-crontab==1.9.3
python-dateutil==2.5.3
pytz==2016.7
pyxdg==0.25
rainbowhat==0.1.0
requests-oauthlib==0.7.0
RPi.GPIO==0.6.5
RTIMULib==7.2.1
scrollphat==0.0.7
scrollphathd==1.2.1
simple-crypt==4.1.7
six==1.10.0
supervisor==3.3.1


